/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-family: "Italianno", cursive;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  line-height: 2.8rem;
  padding: 10px;
  margin-top: 15px;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 740px;
  }
}
@media screen and (min-width: 1240px) {
  .container {
    max-width: 1120px;
  }
}

.row {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0;
  padding: 15px;
}
@media screen and (min-width: 768px) {
  .row {
    flex-direction: row;
  }
}

.col {
  width: 100%;
  padding: 0 15px 15px 15px;
}
@media screen and (min-width: 768px) {
  .col--md50 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
@media screen and (min-width: 768px) {
  .col--md33 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
}
@media screen and (min-width: 768px) {
  .col--md25 {
    flex: 0 0 25%;
    max-width: 25%;
  }
}
@media screen and (min-width: 1240px) {
  .col--lg50 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
@media screen and (min-width: 1240px) {
  .col--lg33 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
}
@media screen and (min-width: 1240px) {
  .col--lg25 {
    flex: 0 0 25%;
    max-width: 25%;
  }
}

.blackout {
  background-color: rgba(0, 0, 0, 0.4);
}

.nav__item {
  font-size: 3.2rem;
}
@media screen and (min-width: 768px) {
  .nav__item {
    display: inline-block;
    width: 23%;
  }
}
.nav__link {
  color: #eff0f3;
  padding: 10px;
  border-radius: 0.4rem;
  display: block;
  transition-duration: 0.5s;
  text-align: center;
}
.nav__link:hover {
  background-color: #74030e;
}

.heading--h1 {
  color: #eff0f3;
  font-size: 6rem;
}
@media screen and (min-width: 768px) {
  .heading--h1 {
    font-size: 8rem;
  }
}
@media screen and (min-width: 1240px) {
  .heading--h1 {
    font-size: 10rem;
  }
}
.heading--h2 {
  font-size: 5rem;
  width: 100%;
  text-align: center;
}

.btn {
  display: inline-block;
  width: 200px;
  padding: 1.5rem;
  border: none;
  border-radius: 0.4rem;
  color: #eff0f3;
  font-size: 2.2rem;
  font-weight: bold;
  text-align: center;
  transition-duration: 0.5s;
}
.btn--red {
  background-color: #74030e;
}
.btn--red:hover {
  background-color: #68030d;
}
.btn--green {
  background-color: #132601;
}
.btn--green:hover {
  background-color: #112201;
}
.btn--outline {
  background-color: transparent;
  border: 1px solid #eff0f3;
  font-family: inherit;
}
.btn--outline:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
.btn--circle {
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
  line-height: 10rem;
  padding: 0;
}

.social {
  width: 200px;
  height: 83px;
  background-color: #eff0f3;
  border: 1px solid gray;
  z-index: 1;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  transition: 1s ease-in-out;
  cursor: pointer;
}
.social:hover {
  transform: translateX(135px);
}
.social__item {
  background: url("../assets/img/sprites_socials.png");
  width: 43px;
  height: 42px;
  overflow: hidden;
  display: inline-block;
  margin: 20px 0;
  transition: 0.25s ease-in-out;
}
.social__item--facebook {
  background-position: 0px -1px;
}
.social__item--facebook:hover {
  background-position: 0px -43px;
}
.social__item--twitter {
  background-position: -52px -1px;
}
.social__item--twitter:hover {
  background-position: -52px -43px;
}
.social__item--youtube {
  background-position: -104px -1px;
}
.social__item--youtube:hover {
  background-position: -104px -43px;
}
.social__item--in {
  background-position: -155px -1px;
}
.social__item--in:hover {
  background-position: -155px -43px;
}

.image-box {
  border-radius: 0.6rem;
  box-shadow: 0 0 15px gray;
  cursor: pointer;
}
.image-box:hover {
  box-shadow: 0 0 25px gray;
}
.image-box__image {
  background: url("../../assets/img/one.jpg") center/cover;
  height: 22rem;
  display: block;
  border-top-left-radius: 0.6rem;
  border-top-right-radius: 0.6rem;
}
.image-box__image--next {
  background: url("../assets/img/two.jpeg") center/cover;
}
@media screen and (min-width: 768px) {
  .image-box__image {
    height: 16rem;
  }
}
.image-box__text {
  text-align: center;
  padding: 1.5rem;
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
}

.form {
  width: 95%;
  font-family: "Roboto", sans-serif;
}
@media screen and (min-width: 768px) {
  .form {
    width: 60%;
  }
}
@media screen and (min-width: 1240px) {
  .form {
    width: 40%;
  }
}
.form__label {
  font-size: 1.8rem;
  margin-bottom: 0.6rem;
  display: block;
}
.form__item {
  color: #eff0f3;
  display: block;
  width: 100%;
  font-size: 1.6rem;
  padding: 1.4rem;
  background-color: rgba(0, 0, 0, 0.4);
  border: 1px solid #eff0f3;
  border-radius: 0.4rem;
  margin-bottom: 1.5rem;
  outline: 0;
  resize: none;
  font-family: inherit;
}
.form__item:focus {
  background-color: rgba(255, 255, 255, 0.2);
}

.site-body__social {
  position: fixed;
  left: -135px;
  bottom: 20%;
}

.site-header {
  background: url("../assets/img/start.jpeg") center/cover fixed;
  height: 100vh;
  position: relative;
}
.site-header__blackout {
  position: absolute;
  width: 100%;
  height: 100%;
}
.site-header__nav {
  position: absolute;
  width: 60%;
  text-align: center;
  margin-top: 30px;
}
.site-header__h1 {
  position: absolute;
  bottom: 40%;
  text-align: center;
  width: 100%;
}
.site-header__button {
  position: absolute;
  bottom: 15%;
  margin: 0 auto;
  left: 0;
  right: 0;
}

.site-section {
  min-height: 70vh;
  padding-top: 3rem;
}
.site-section--bg-color {
  background-color: #504533;
}

.site-contact {
  background: url("../assets/img/contact.jpeg") center/cover fixed;
  min-height: 55rem;
  color: #eff0f3;
  position: relative;
}
.site-contact__blackout {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.site-contact__h2 {
  position: absolute;
}
.site-contact__form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.site-footer {
  background-color: #201b13;
  height: 40vh;
  color: #eff0f3;
}

.text-color-white {
  color: #eff0f3;
}

.text-align-center {
  text-align: center;
}

.text-align-justify {
  text-align: justify;
}

/*# sourceMappingURL=main.css.map */
