@use '../01-settings/' as *;
@use '../02-tools/' as *;

.row {

    // border: 1px solid green;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0;
    padding: 1.5 * $grid-base;

    @include medium {
        flex-direction: row;
    }

}