$color1: #eff0f3;
$color2: #74030e;
$color3: #132601;

$color-white: $color1;
$color-red: $color2;
$color-green: $color3;

$color-bg-section: #504533;

$color-bg-footer: #201b13;

$font-base: 10px;

$grid-base: $font-base;
$gutter: 1.5 * $grid-base;

$bp-md: 768px;
$bp-lg: 1240px;
