@use '../01-settings/' as *;

.site-contact {

    background: url('../assets/img/contact.jpeg') center/cover fixed;
    min-height: 55rem;
    color: $color-white;
    position: relative;

    &__blackout {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }

    &__h2 {
        position: absolute;
    }

    &__form {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

}